@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.header_font {
  font-family: "League Spartan", sans-serif;
}

.card {
  width: 327px;
  height: 250px;
  color: #ffffff;
}

.web {
  background-image: url(./web.jpg);
}

.app {
  background-image: url(./phone.png);
}

.graphic {
  background-image: url(./graphic.jpg);
}
